

.Rhistory

# General
.DS_Store
.AppleDouble
.LSOverride
#.RData
.Rhistory

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Bookdown intermediate files
#_main*  #when knitting with the pdf flag, the output is _main.pdf and we need this file because it links on the reader
docs/*.md
